* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', Courier, monospace;
}
/*--------- header ---*/
.header {
    background-color: #39A900;
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content:left;
    align-items: center;
}

.header__h1 {
    color: white;
    margin: 0 100px;
    font-size: 30px;
    font-weight: 600;
}

/*---- main ---*/

.main {
    padding-top: 70px;
    width: 100%;
    display: flex;
    background-color: #EDEDCC;
}


.ul {
    margin: 20px 100px;
}

.li {
    margin: 10px 0 0 0;
}

.li__a {
    color: #00324D;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}


/* li {
    list-style: none;
    /* list-style: square inside;
}
ul li a {
    font-weight: 400;
    color: #000000;
    font-size: 1.4em;
    margin: 1em 5em;
    list-style: none;
    text-decoration: none;
}
ul li a:hover {
    color: #fff;
    background-color: #142823;
} */
