{% extends 'header.html' %}
{% load static %}
<body>
    {% block content %}
    <main class="main">
            {% if menu %} 
            <ul class="ul" >
                {% for competencia in competencias %}
                <li class="li">
                    <a href="{% url 'detalle_competencia' competencia.id %}" class="li__a">{{ competencia.nombre }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %} 
    </main>
    {% endblock %}
</body> 
</html>
